// app global css in SCSS form
body {
    background-image: url("../assets/istockphoto-612833834-612x612.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.phone-only {
    @media (max-width: $breakpoint-xs-max){
        display: block;
    }
    @media (min-width: $breakpoint-sm-min){
        display: none;
    }
}

.desktop-only {
    @media (max-width: $breakpoint-xs-max){
        display: none!important;
    }
    @media (min-width: $breakpoint-sm-min){
        display: block;
    }
}

.page-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
