// app global css in SCSS form

.phone-only {
    @media (max-width: $breakpoint-xs-max){
        display: block;
    }
    @media (min-width: $breakpoint-sm-min){
        display: none;
    }
}

.desktop-only {
    @media (max-width: $breakpoint-xs-max){
        display: none!important;
    }
    @media (min-width: $breakpoint-sm-min){
        display: block;
    }
}

.page-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    &.home {
        background-image: url("../assets/istockphoto-612833834-612x612.jpg");
        
    }
    &.fight {
        background-image: url("../assets/232291-top-papyrus-background-1920x1080-for-retina.jpg");
    }
  }
